<div class="dashboard-sidebar">
	<div class="dashboard-sidebar-inner" data-simplebar>
		<div class="dashboard-nav-container">

			<a href="#" class="dashboard-responsive-nav-trigger" hidden>
				<span class="hamburger hamburger--collapse" >
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</span>
				<span class="trigger-title">Dashboard Navigation</span>
			</a>
			
			<div class="dashboard-nav">
				<div class="dashboard-nav-inner">

					<ul data-submenu-title="Organize and Manage">
						<li><a href="/agentlist/1"><i class="icon-feather-users"></i> User List </a></li>
						<li><a href="/addParty"><i class="icon-material-outline-account-balance-wallet"></i> Add Party </a></li>
						<li><a href="/addAgent"><i class="icon-feather-user-plus"></i> Add Agent</a></li>
						<li><a href="/notelist/1"><i class="icon-feather-clipboard"></i> Notes List</a></li>
					</ul>

					<ul data-submenu-title="Account">
						<li><a href="<%=BaseUrl%>/logout"><i class="icon-material-outline-power-settings-new"></i> Logout</a></li>
					</ul>
					
				</div>
			</div>
		</div>
	</div>
</div>