<!-- Header Container
================================================== -->
<header id="header-container" class="fullwidth dashboard-header not-sticky">

	<!-- Header -->
	<div id="header">
		<div class="container">
			
			<!-- Left Side Content -->
			<div class="left-side">
				
				<!-- Logo -->
				<div id="logo">
				</div>

				<style>
					.non-display{
						display: none;
						visibility: hidden;
					}

					@media (max-width: 1000px) {
						.non-display{
							display: block;
							visibility: visible;
						}
					}
				</style>

				<!-- Main Navigation -->
				<nav id="navigation" class="non-display">
					<ul id="responsive">
                                   <!-- <li><a href="/agentlist/1"><i class="icon-feather-users"></i>&nbsp;&nbsp;&nbsp; Agent List </a></li>
                                                <li><a href="/addParty"><i class="icon-material-outline-account-balance-wallet"></i>&nbsp;&nbsp;&nbsp; Add Party </a></li>
                                                <li><a href="/addAgent"><i class="icon-feather-user-plus"></i>&nbsp;&nbsp;&nbsp; Add Agent</a></li>
                                                <li><a href="/notes"><i class="icon-feather-clipboard"></i>&nbsp;&nbsp;&nbsp; Add Notes</a></li>
<li><a href="/partylist/1"><i class="icon-feather-align-left"></i> Task List</a></li> -->


<li><a href="/dashboard" style="text-decoration: none;"><i class="icon-feather-airplay"></i>&nbsp;&nbsp;&nbsp; Dashboard </a></li>
<li><a href="/agentlist/1" style="text-decoration: none;"><i class="icon-feather-users"></i>&nbsp;&nbsp;&nbsp; Agent List </a></li>
<li><a href="/partylist/1" style="text-decoration: none;"><i class="icon-feather-list"></i>&nbsp;&nbsp;&nbsp; Party List </a></li>
<!-- <li><a href="/addParty" style="text-decoration: none;"><i class="icon-material-outline-account-balance-wallet"></i> Add Collection </a></li> -->
<!-- <li><a href="/addAgent" style="text-decoration: none;"><i class="icon-feather-user-plus"></i> Add Agent / Party</a></li> -->
<li><a href="/notelist/1" style="text-decoration: none;"><i class="icon-feather-clipboard"></i>&nbsp;&nbsp;&nbsp; Notes List</a></li>
<li><a href="/collectionlist/1" style="text-decoration: none;"><i class="icon-feather-align-left"></i>&nbsp;&nbsp;&nbsp; Collection List</a></li>



					</ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->
				
			</div>
			<!-- Left Side Content / End -->


			<!-- Right Side Content / End -->
			<div class="right-side">

				<!-- Mobile Navigation Button -->
				<span class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</span>

			</div>
			<!-- Right Side Content / End -->

		</div>
	</div>
	<!-- Header / End -->

</header>
