<!doctype html>
<html lang="en">

<head>

	<title>Rs Marketing</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="<%=BaseUrl%>/adminPanel/css/style.css">
	<link rel="stylesheet" href="<%=BaseUrl%>/adminPanel/css/colors/blue.css">
	<link rel="stylesheet" href="<%=BaseUrl%>/adminPanel/css/sweetalert.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<style type="text/css">
		table td {
			display: table-cell !important;
			width: 10% !important;
			border-bottom: none !important;
			background-color: #eee !important;
		}

		table th {
			display: table-cell !important;
			width: 10% !important;
		}

		table {
			padding: 9px !important;
		}

		.near_by_hotel_wrapper {
			background: #f5f5f5;
		}

		.custom_table {
			border-collapse: separate;
			border-spacing: 0 10px;
			margin-top: -3px !important;
		}

		.custom_table thead tr th {
			padding: 0px 8px;
			font-size: 16px;
			border: 0 none !important;
			border-top: 0 none !important;
		}

		.custom_table tbody tr {
			-moz-box-shadow: 0 2px 3px #e0e0e0;
			-webkit-box-shadow: 0 2px 3px #e0e0e0;
			box-shadow: 0 2px 3px #e0e0e0;
		}

		.near_by_hotel_wrapper table tr td {
			border-right: 1px solid #d2d1d1;
		}

		.custom_table tbody tr td {
			background: #fff none repeat scroll 0 0;
			border-top: 0 none !important;
			margin-bottom: 20px;
			padding: 10px 8px;
			font-size: 16px;
		}

		.near_by_hotel_wrapper table tr td {
			border-right: 1px solid #d2d1d1;
		}
	</style>
</head>

<body class="gray">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header Container
================================================== -->
		<!-- <?php include('header.php');?> -->
		<%- include ('header.html'); %>
			<div class="clearfix"></div>
			<!-- Header Container / End -->


			<!-- Dashboard Container -->
			<div class="dashboard-container">

				 <div class="modal fade" id="editpartyaccount" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
	
					<h5 class="modal-title" id="exampleModalLabel">Edit Party</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

                <form action="<%=BaseUrl%>/editpartyaccount" method="post">

                    <div class="dashboard-box margin-top-0">

                        <div class="content with-padding padding-bottom-10">
                            <div class="row">

								
								<div class="col-xl-12">
									<div class="submit-field">
										<h5>Name</h5>
                                        <input id="name" type="text" value="" class="with-border" name="name"
										required>
                                    </div>
                                </div>
								<input id="partyId" type="hidden" value="" class="with-border" name="partyId">
                                <div class="col-xl-12">
                                    <div class="submit-field">
                                        <h5>Mobile Number</h5>
                                        <input id="mobile" type="text" class="with-border" value=""
                                            name="mobile" required>
                                    </div>
                                </div>

                                <div class="col-xl-12">
                                    <div class="submit-field">
                                        <h5>Beat</h5>
                                        <input id="beat" type="text" value="" class="with-border"
                                            name="beat" required>
                                    </div>
                                </div>

                                <div class="col-xl-12">
                                    <div class="submit-field">
                                        <h5>Contact Person</h5>
                                        <input id="contactperson" type="text" value="" class="with-border"
                                            name="contactperson" required>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" value="submit" name="submit" id="submit"
							class="btn btn-primary">submit</button>
					</div>
                </form>
			</div>
		</div>
	</div>

				<%- include ('dashboard-leftlayout.html'); %>
					<!-- <?php include('dashboard-leftlayout.php');?> -->
					<!-- Dashboard Content
	================================================== -->
					<div class="dashboard-content-container" data-simplebar>
						<div class="dashboard-content-inner">

							<!-- Dashboard Headline -->
							<div class="dashboard-headline">
								<h3>partylist</h3>
							</div>
							<!-- Row -->
							<div class="row">

								<div class="col-xl-12 col-lg-12 content-left-offset">

									<div class="notify-box margin-top-15 margin-bottom-60">

										<div class="col-md-12">
											<form id="searchform" action="/partylist/1" method="post"
												onsubmit="return checkvalidateForm();">
												<div class="row">

													<div class="form-group col-md-2">
														<label>Search Mobile:</label>
														<input type="text" class="form-control" name="mobile"
															placeholder="Mobile Number"
															value="<%if(search['mobile'] != '') {%><%=search['mobile']%><%}%>">
													</div>
													<div class="form-group col-md-2">
														<label>Search Name:</label>
														<input type="text" class="form-control" name="name"
															placeholder="name"
															value="<%if(search['name'] != '') {%><%=search['name']%><%}%>">
													</div>
													<!-- <div class="form-group col-md-2">
														<label>To Date:</label>
														<input type="date" class="form-control" id="todate"
															name="todate" placeholder="By Date"
															value="<%if(search['todate'] != '') {%><%=search['todate']%><%}%>">
													</div>
													<div class="form-group col-md-2">
														<label>From Date:</label>
														<input type="date" class="form-control" id="fromdate"
															name="fromdate" placeholder="By Date"
															value="<%if(search['fromdate'] != '') {%><%=search['fromdate']%><%}%>">
													</div> -->
													<div class="form-group col-md-2"  style="padding-top: 27px;">
														<label>&nbsp;</label>
														<input type="submit" class="form-control btn btn-success"
															value="Search">
														<!-- <button class="form-control btn btn-lg btn-success">Search</button> -->
													</div>
													<div class="form-group col-md-2">
														<label>&nbsp;</label>
														<input type="button"
															class="form-control btn-success callpartylistapi"
															value="Export CSV">
													</div>
												</div>
											</form>
										</div>

									</div>
								</div>

								<div class="col-xl-12 col-md-12 responsive">
									<table class="table no-border custom_table dataTable no-footer dtr-inline"
										style="width: 100%;background-color:#fff;">
										<thead>
											<tr>
												<th>S.No</th>
												<th>Name</th>
												<th>Mobile Number</th>
												<th>Beat</th>
												<th>Contact Person</th>
												<th>Register Date</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody style="background-color: #eee;" id="services">
											<% if (data.length> 0) { var con = 1; %>
												<% for(var i=0; i < data.length; i++ ) { %>
													<tr>
														<td>
															<%= con %>
														</td>
														<td>
															<%= data[i].name %>
														</td>
														<td>
															<%= data[i].mobile %>
														</td>
														<td>
															<%= data[i].beat%>
														</td>
														<td>
															<%= data[i].contactperson%>
														</td>
														<td>
															<%= data[i].date%>
														</td>
														<td>
															<center>
																<button data-toggle="modal" data-target="#editpartyaccount"
																style="background-color: green; padding: 10px; border-radius: 5px; color: wheat;"
																	onclick="editParty('<%= data[i].partyId %>', '<%= data[i].name %>', '<%= data[i].mobile %>', '<%= data[i].beat%>', '<%= data[i].contactperson%>')"> <i
																		class="icon-feather-edit-2"></i></button>
														
																<button type="submit" value="submit"
																	style="background-color: red; padding: 10px; border-radius: 5px; color: wheat;"
																	name="submit"
																	onclick="deleteParty('<%= data[i].partyId %>')"> <i
																		class="icon-feather-trash"></i></button>
																	</center>
																</td>
													</tr>
													<% con++; } } else { %>
														<tr>
															<td colspan="10">
																<center>No Record Found!</center>
															</td>
														</tr>
														<% } %>
										</tbody>
									</table>
								</div>

							</div>
							<!-- Pagination -->
							<div class="clearfix"></div>
							<div class="row">
								<div class="col-md-12">
									<!-- Pagination -->
									<div class="pagination-container margin-top-30 margin-bottom-60">
										<nav class="pagination">
											<% if (pages> 0) { %>
												<ul class="pagination justify-content-end" id="pagination">
													<% if (current==1) { %>
														<li class="disabled"><a class="btn btn-default"><i
																	class="icon-material-outline-keyboard-arrow-left"></i></a>
														</li>
														<% } else { %>
															<li><a class="btn btn-default" onclick="changePage('1')"><i
																		class="icon-material-outline-keyboard-arrow-left"></i></a>
															</li>
															<% } %>
																<% var i=(Number(current)> 5 ? Number(current) - 4 : 1)
																	%>
																	<% if (i !==1) { %>
																		<li class="disabled"><a>...</a></li>
																		<% } %>
																			<% for (; i <=(Number(current) + 4) && i <=pages; i++) { %>
																				<% if (i==current) { %>
																					<li class="pagination-arrow" class="active"><a class="btn btn-default">
																							<%= i %>
																						</a></li>
																					<% } else { %>
																						<li><a class="btn btn-default" onclick="changePage('<%= i %>')">
																								<%= i %>
																							</a></li>
																						<% } %>
																							<% if (i==Number(current) + 4 && i < pages) { %>
																								<li class="disabled">
																									<a>...</a>
																								</li>
																								<% } %>
																									<% } %>
																										<% if (current==pages) { %>
																											<li class="disabled">
																												<a class="btn btn-default"><i
																														class="icon-material-outline-keyboard-arrow-right"></i></a>
																											</li>
																											<% } else { %>
																												<li><a class="btn btn-default"
																														onclick="changePage('<%= pages %>')"><i
																															class="icon-material-outline-keyboard-arrow-right"></i></a>
																												</li>
																												<% } %>
										
												</ul>
												<% } %>
										</nav>
									</div>
								</div>
							</div>

							<!-- Pagination / End -->
							<%- include('footer.html'); %>

						</div>
					</div>
					<!-- Dashboard Content / End -->

			</div>
			<!-- Dashboard Container / End -->

	</div>
	<!-- Wrapper / End -->




	<!-- Scripts
================================================== -->
	<script src="<%=BaseUrl%>/adminPanel/js/jquery-3.3.1.min.js"></script>
	<script src="<%=BaseUrl%>/adminPanel/js/jquery-migrate-3.0.0.min.js"></script>
	<script src="<%=BaseUrl%>/adminPanel/js/mmenu.min.js"></script>
	<script src="<%=BaseUrl%>/adminPanel/js/tippy.all.min.js"></script>
	<script src="<%=BaseUrl%>/adminPanel/js/simplebar.min.js"></script>
	<script src="<%=BaseUrl%>/adminPanel/js/bootstrap-slider.min.js"></script>
	<script src="<%=BaseUrl%>/adminPanel/js/bootstrap-select.min.js"></script>
	<script src="<%=BaseUrl%>/adminPanel/js/snackbar.js"></script>
	<script src="<%=BaseUrl%>/adminPanel/js/clipboard.min.js"></script>
	<script src="<%=BaseUrl%>/adminPanel/js/counterup.min.js"></script>
	<script src="<%=BaseUrl%>/adminPanel/js/magnific-popup.min.js"></script>
	<script src="<%=BaseUrl%>/adminPanel/js/slick.min.js"></script>
	<script src="<%=BaseUrl%>/adminPanel/js/custom.js"></script>
	<script src="<%=BaseUrl%>/adminPanel/js/sweetalert.min.js"></script>
	<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->


	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script>

		function checkvalidateForm() {
			var startDate = new Date($('#todate').val());
			var endDate = new Date($('#fromdate').val());

			if (startDate > endDate) {
				swal("Oops!", "To Date Should not Greater then From Date!");
				return false;
			}

			return true;
		}

		function changePage(page) {
			var isPostReq = false;

			if ($('#orderno').val()) {
				isPostReq = true;
			}

			if ($('#todate').val()) {
				isPostReq = true;
			}
			if ($('#fromdate').val()) {
				isPostReq = true;
			}
			var link = '<%=BaseUrl%>/partylist/' + page;
			if (isPostReq) {
				$('#searchform').attr('action', link);
				$('#searchform').submit();
			}
			else {
				// console.log('call2');
				location.href = link;
			}
		}
	</script>
	<script>
		$(document).ready(function () {
			$(document).on('click', '.callpartylistapi', function () {
				// $('#exampleModal').modal('show');
				$.ajax({
					type: 'get',
					url: '/getpartylistdata',
					crossDomain: true,
					success: function (response) {

						downloadcsv(response)

					},
					error: function (request, status, error) {

						alert(error);
					}
				});
			})
		})

		function downloadcsv(data) {
			var csv = 'party code,Name,mobile,beat,contactperson,date\n';

			var array = [];
			for (let i = 0; i < data.length; i++) {
				const x = data[i]
				array.push([x.partyId, x.name, x.mobile, x.beat, x.contactperson, x.date])
			}

			array.forEach(function (row) {
				csv += row.join(',');
				csv += "\n";
			})

			var hiddenElement = document.createElement('a');
			hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);
			hiddenElement.target = '_blank';

			hiddenElement.download = 'Partylist.csv';
			hiddenElement.click();
		}

		const deleteParty = (data) => {
			var txt;
			if (confirm("are you sure you want to delete this party!")) {
				txt = "You pressed OK!";

				$.ajax({
					type: 'get',
					url: '/deleteparty/' + data,
					success: function (response) {
						location.reload()
					},
					error: function (request, status, error) {

						alert(error);
					}
				});
			}
		}
		// $(document).ready(function () {
		const editParty = (partyId, name, mobile, beat, contactperson) => {
			// $(document).on('click', '.partyModel', function () {
			$('#partyId').val(partyId);
			$('#name').val(name);
			$('#mobile').val(mobile);
			$('#beat').val(beat);
			$('#contactperson').val(contactperson);
			// var modal = document.getElementById("editpartyaccount");
			// modal.style.display = "block";
		    $('#editpartyaccount').modal('show');
			// })
		}
	// })
	</script>

</body>

</html>
